.hamburgerMenu{
    position: absolute;
      height: 36.4rem;
      width: 13rem;
      z-index: 1;
      margin: -26px;
      border-radius: 8px 27px 26px 8px;
      padding: 60px 16px 16px 23px;
      box-sizing: border-box;
      color: white; 
  }
  .hamburgerMenuHide{
    display: none;
  }
  .hamburgerMenuShow{
    display: block;
  }
  .hamburgerMenu-dark{
    background-color: black; 
  }
  .hamburgerMenu-light{
    background-color: #0F2C59;
  }  
  .darkLightModeMainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
   }
   .darkLightModeIcon{
    cursor: pointer;
   }
  .darkLightModeContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .darkLightModeContainer h2{
    font-size: 19px;
  }
  
  .moonIcon{
    color: white;
  }