html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
}

body { 
  display: flex;
  justify-content: center;
  align-items: center;
   font-family: sans-serif;
}
 main{
   width: 100vw; 
  height: 100vh;
   display: flex;
  align-items: center;
  justify-content: center;  
 }
.main-light {   
  background-color: black;
}
.main-dark {  
  background-color: white; 
  color: white; 
}
.weatherApp{
  padding: 1.6rem;
  border-radius: 10px;
  width: 385px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  height: 531px;
}
.hamburgerMenu{
  position: absolute;
    height: 36.4rem;
    width: 13rem;
    z-index: 1;
    margin: -26px;
    border-radius: 8px 27px 26px 8px;
    padding: 60px 16px 16px 23px;
    box-sizing: border-box;
    color: white; 
}
.hamburgerMenuHide{
  display: none;
}
.hamburgerMenuShow{
  display: block;
}
.hamburgerMenu-dark{
  background-color: black; 
}
.hamburgerMenu-light{
  background-color: #0F2C59;
}
.hamburger-block{
  z-index: 1;
    margin-top: -21px;
    margin-left: -8px;
    color: white;
} 
.weatherApp-light {
  background-color: white; 
}
.weatherApp-dark {
  background-color: #0e2954; 
}
 
.Menu{
  font-size: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px
}
.TopContainer{
display: flex;
align-items: center;
}
.inputSection {
  display: flex;
  align-items: center;
}
.inputText{
  width: 100%;
  border-radius: 10px;
  padding: 9px 29px 9px 10px; 
  border: 0px;
  font-size: 18px;
  outline: none;
}
.inputText-dark {
  background-color: white; 
}
.inputText-light {
   color: black;
   background-color: #62d3d36b;
}
.location-icon-dark{
color: black;
}
.location-icon {
  position: relative;
  right: 21px;
  width: 0px;
  cursor: pointer;
}
.topSection{
     width: 100%;
}
 .darkLightModeMainContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
 }
 .darkLightModeIcon{
  cursor: pointer;
 }
.darkLightModeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.darkLightModeContainer h2{
  font-size: 19px;
}
.socialMediaIconContainer{
  width: 30px;
  height: 30px;
  background-color: grey;  
  padding: 5px;
  border-radius: 50%;
  display: flex;
    justify-content: center;
    align-items: center;
}
.socialMediaIcons{
font-size:23px;
  cursor: pointer;
    margin-top: 3px; 
}
.socialMediaIcons-dark{ 
  color: white;
 }
.socialMediaIcons-light{ 
  color: black;
 }
.contactSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.moonIcon{
  color: white;
}
.weatherImg {
  width: 100%;
  height: 100%;
}
.searchIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-left: 1rem;
  border-radius: 50%;
  width: 50px;
  height: 37px;
  cursor: pointer;
} 
.searchIcon-light { 
  background-color:#62d3d36b ; 
}
.searchIcon-dark { 
  background-color: white;
} 
.tempSubDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
} 
.tempSubDiv span {
  font-weight: 800;
  font-size: 3rem;
  margin: 0px;
}

.subMainSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} 
.myLocation {
  padding: 4px 6px;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
} 
.lastSection {
  display: flex;
  justify-content: space-between;
  margin-top: 2.3rem;
}
.h2-removeErrorSymbol{
  font-weight: 800;
  font-size: 3rem;
  margin: 0px;
}
.h2-removeErrorSymbol-light { 
  color: black; 
}
.h2-removeErrorSymbol-dark { 
  color: white; 
} 
.h2-displayErrorSymbol {
  font-weight: 800;
  font-size: 3rem;
  margin: 0px;
  opacity: 60%;
  color: rgb(67, 65, 65);
}
.h3-removeErrorSymbol{
  display: inline;
  font-size: 27px;
}
.h3-removeErrorSymbol-light { 
  color: black; 
}
.h3-removeErrorSymbol-dark { 
  color: white; 
} 
.h3-displayErrorSymbol {
  display: inline;
  font-size: 27px;
  opacity: 70%;
  color: gray;
}
.tempSub-p-removeErrorSymbol-light{
  color: #040404c2;
}
.tempSub-p-removeErrorSymbol-dark{
  color: #ffffff9c;
}
.tempSub-p-removeErrorSymbol {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
 }

.tempSub-p-displayErrorSymbol {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 70%;
  color: #726f6f;
}
 
.imageContainer{
  height: 17rem;
    width: 17rem;
    margin: auto;
} 
.dropIcon-1-dark,
.dropIcon-2-dark,
.dropIcon-3-dark{
color: white;
 font-size: 2.2rem;
}
.dropIcons{
  font-size: 2.5rem;
  
}
.dropIcon-1-light { 
  color:rgba(132, 169, 233, 0.916)
}
.dropIcon-2-light { 
     color:rgb(71, 125, 218) 
}
.dropIcon-3-light { 
  color: rgb(0, 34, 94)
}
.windIcon{
  font-size: 2.5rem;
}
.weatherSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.weatherSection p {
  font-size: 16px;
  font-weight: 500;
} 
.weatherSection span {
  font-weight: 700;
  font-size: 19px;
}

@media screen and (max-width:460px) {
  .weatherApp {
    width: auto;
}
.hamburgerMenu{
  width: 11rem;
}
}