html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: sans-serif;
}

.weatherApp {
  background-color: #ffff;
  padding: 2rem;
  border-radius: 10px;
  width: 385px;
  margin: 1rem;
}

.searchSection {
  display: flex;
  align-items: center;
}

.inputText {
  background-color: #62d3d36b;
  width: 100%;
  border-radius: 10px;
  padding: 9px 10px;
  border: 0px;
  font-size: 18px;
  outline: none;
}

.weatherImg {
  width: 100%;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #62d3d361;
  margin-left: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 2.5rem;
  cursor: pointer;
}

.tempSubDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.tempSubDiv span {
  font-weight: 800;
  font-size: 3rem;
  margin: 0px;
}

.subMainSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myLocation button {
  padding: 4px 6px;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.lastSection {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.h2-removeErrorSymbol {
  font-weight: 800;
  font-size: 3rem;
  margin: 0px;
  color: black;

}

.h2-displayErrorSymbol {
  font-weight: 800;
  font-size: 3rem;
  margin: 0px;
  opacity: 60%;
  color: rgb(67, 65, 65);
}

.h3-removeErrorSymbol {
  display: inline;
  font-size: 27px;
  color: black;

}

.h3-displayErrorSymbol {
  display: inline;
  font-size: 27px;
  opacity: 70%;
  color: gray;
}

.tempSub-p-removeErrorSymbol {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  color: #040404c2;
}

.tempSub-p-displayErrorSymbol {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 70%;
  color: #726f6f;
}


.dropIcon-1 {
  font-size: 2.2rem;
  color: rgba(96, 144, 226, 0.374)
}

.dropIcon-2 {
  font-size: 2.2rem;
  color: rgb(65, 95, 147)
}

.dropIcon-3 {
  font-size: 2.2rem;
  color: rgb(23, 91, 208)
}

.weatherSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.weatherSection p {
  font-size: 16px;
  font-weight: 500;
}


.weatherSection span {
  font-weight: 700;
  font-size: 19px;
}

@media screen and (max-width:460px) {
  .weatherApp {
    width: auto;
  }
}